.modalContainer{
    position: fixed;
    top: 3.3rem;
    height: 100%;
    z-index: 1000;
}

.modalContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

}

.closeButton{
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    @apply text-black font-bold;
}

.LogoutButton{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    @apply bg-black font-bold;
}

.LogoutButton:hover{
    @apply bg-gray-600;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.closeButton:hover{
    @apply text-gray-600;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.modalTittle{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.modalBody{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modalSubTittle{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.modalText{
    font-size: 1rem;
    margin-bottom: 1rem;
}
